
<div class="container">
	<div class="row">
		<div class="col-sm-12 form-name text-left">
			<form action="/switch" class="form-horizontal" role="form"  method="POST" id="loadSpid">
				<div class="form-group">
					<label class="col-sm-2 scheduler-border">Customer Name:</label>
					<div class="col-sm-6">
						<select name="CustId" id="cust_name_select_list" class="form-control">
							<option>Please select a name</option>
							<% for(var i=0; i<retailers.length; i++) { %>
								<option value="<%=retailers[i].custId%>"><%=retailers[i].name%></option>

							<% } %>							

						</select>						
					</div>
				</div>					
			</form>
		</div>	
	</div>	
</div>