<% layout('layout') -%>
<% block('topbar', 
	'<div id="rightside">\
		<a id="user" href="/users/'+currentUser.username+'">\
			<span id="username">'+currentUser.username+'</span>\
		</a>\
		<a href="/logout" id="logout">Logout</a>\
	</div>'
) -%>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')
</script>
<div id="message"></div>
	<% include header.ejs -%>
	<div class="container-fluid">
	  <div class="row div-bottom">
	    <div class="col-sm-6 text-center">
		
			<h2>Customer Switch</h2>
			<!--<h2>Welcome to <%= currentUser.company + " " + companyId %> </h2 -->
			<h2> Welcome to <% if (companyId == 'RTL002') { %>   
				<%= 'United Utilities' %> <%  }  else 
				{ %> <%= 'Albion Water'%> <% } %>
		</div>
	  </div>  
	  <div class="row">
	    <div class="col-sm-12">
	    	<% include form.ejs -%>
	    </div>	
	    <div class="col-sm-9 col-sm-offset-1 tab-content">	
			<table class="table table-hover table-bordered">
				<tr class="spid-header">
				    <th class="uuHeader">Customer</th>
					<th class="uuHeader">Service Point</th>
					<th class="uuHeader">Service Category</th>
					<th class="uuHeader">Current Retailer</th>
					<th class="uuHeader">Current Wholesaler</th>
				</tr>
			</table>
		</div>
	  </div>
	</div>
</div>			

